/* __________________BAGGRUND______________ */
body{
    background-image: url(../image/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

p {
    line-height: 1.5em;
}

/* ____________________FOOTER__________________ */
footer{
    background-color: #CAE4AE;
       padding: 0;
       margin: 0;
       height: 180px;
}

.nyhedsbrev {
text-align: left;
padding: 1px;
margin-left: 70rem;
}

.send{
    background-color: #009806;
    color: white;
    margin-top: 5px;
}

/* ______________CATEGORY___________________ */
.category {
    font-size: 40px;
    border-style: solid;
    border-width: medium;
    background-color: white;
    border-color: white;
    opacity: 0.7;
    padding: 20px;
    margin: 30px;
    margin-left:70px ;
    margin-right:70px ;
    text-align: center;
}

.ca_h1{
    text-align: center;
    border-style: solid;
    border-width: medium;
    background-color: white;
    border-color: white;
    opacity: 0.7;
    margin-left:35rem ;
    margin-right:35rem ;
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: red;
}

  

/* _________________PRODUCTLIST____________ */

.introduktion{
    margin: 30px;
    margin-left: 40px;
    margin-right: 40px;
    text-align: left;
}

.info_prodlist {
    border-style: solid;
    border-width: medium;
    background-color: white;
    border-color: white;
    opacity: 0.7;
    text-align: center;
    margin: 50px;  
    margin-left: 150px;
    margin-right: 200px;
}

.pl_season{
    border-bottom: 2px solid black;
    margin-left: 20rem;
    margin-right: 20rem;
}

img{
    max-width: 300px;
}

.description
{
  max-width: 300px;
}

.template{
    padding-left: 50px;
    margin-bottom: 30px;
}
/* _________________PRODUCT____________ */


.info_cirkel1  {
        border-style: solid;
        border-width: medium;
        background-color: white;
        border-color: white;
        text-align: center;
        padding: 40px;
        border-radius: 100%;
        margin: 20px;
        margin-left: 50px;
}

.info_cirkel2  {
    border-style: solid;
    border-width: medium;
    background-color: white;
    border-color: white;
    text-align: center;
    padding: 40px;
    border-radius: 100%;
    margin: 20px;
    margin-right: 50px;
}

.info_cirkel3  {
    border-style: solid;
    border-width: medium;
    background-color: white;
    border-color: white;
    text-align: center;
    padding: 40px;
    border-radius: 100%;
    margin: 20px;
    margin-left: 50px;
}

.tell_us_about{
    min-height: 200px;
    min-width: 400px;

}

